{% extends 'base.html' %} {% load bootstrap4 %} {% load static%}

{% block content %}
{% include "navbar.html" %}
  <div class="container">
      <div class="drivertop">                   
              <div class="homestartheader">
                 <h1 style="text-align: center;font-family:'Germania One', cursive;">
                      <strong >Always the ride you want</strong></h1>
                  <img class="img-responsive" src="/static/img/taxi.jpg" alt="" style="width: 1000px; height: fit-content;"> 
                  <h2 style="text-align:center; padding-top: 50px; font-family:'Germania One', cursive;">Pooling with the cool</h2>
                  <div class="row" style="text-align:center; padding-top: 50px; font-family:'Germania One', cursive;"> 
                  <div class="col-md-4">  
                  <div class="homestartcolumn ">
                      <h3 style="font-family:'Germania One', cursive;">Easiest way around</h3>
                      <p style="font-family:'Germania One', cursive;">One tap and a car comes directly to you. Hop in—your driver knows exactly where to go.
                          And when you get there, just step out. Payment is completely seamless,only share the ride...</p>
                  </div>
                  </div>
                  <div class="col-md-4">  
                  <div class="homestartcolumn">
                      <h3 style="font-family:'Germania One', cursive;">Anywhere, anytime</h3>
                      <p>Daily commute. Errand across town. Early morning flight. Late night drinks. Wherever you’re headed, count on
                          Uber for a ride—no reservations required...</p>
                  </div>
                  </div>
                  <div class="col-md-4" > 
                  <div class="homestartcolumn">
                      <h3 style="font-family:'Germania One', cursive;">Low-cost to luxury</h3>
                      <p style="font-family:'Germania One', cursive;">Economy cars at everyday prices are always available. For special occasions, no occasion at all, or when you
                          just a need a bit more room, call a black car or SUV...</p>
                  </div> 
                  </div>         
              </div>
          </div>
      </div>
      <div id="container">
        <h1 style="text-align: center;font-family:'Germania One', cursive;">Pick A Destination</h1>
          <div class="row"> 
            <div class="col-md-6">         
              <div id="mapinput">              
                  <input id="origin-input" class="controls" style="margin-top: 5%;margin-left: 25%;height: 27px;width: 200px;
                  font-family:'Germania One', cursive;" type="text" placeholder="Enter an origin location"> 
                            
                  <input id="destination-input" class="controls" style="margin-top: 2%;margin-left: 25%;height: 27px;width: 200px;
                  font-family:'Germania One', cursive;" type="text"
                      placeholder="Enter a destination location">              
              </div>             
              <div id="mode-selector" class="controls">
                  <input type="radio" name="type" id="changemode-walking" checked="checked">
                  <label for="changemode-walking" style="font-family:'Germania One', cursive;">Bike</label>
                  <input type="radio" name="type" id="changemode-transit">
                  <label for="changemode-transit" style="font-family:'Germania One', cursive;">Transit</label>
                  <input type="radio" name="type" id="changemode-driving">
                  <label for="changemode-driving" style="font-family:'Germania One', cursive;">Driving</label>
              </div>
            </div>
            <div class="col-md-6">
                <div class="mapwelcome">              
                    <img src="/static/img/taxi.jpeg" style="height: 300px;width: 410px" alt="">              
                </div>  
              </div>   
    </div>
              <div id="map"></div>
              
              <script>

              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABnz0G3y2BV2QkWfoHqFdybTqKHRitLnQ=places,geometry&callback=initMap"
                  async="async" defer="defer"></script>
      </div>  
  </div>
</div>

{% endblock %}