{% extends 'driver/base.html' %} 
{% load bootstrap4 %} 
{% load static%}


{% block content %}
{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img class="rounded-circle account-profile " src="{{ user.profile.image.url }}" alt="user" height="200px"
                width="200px">
            <div class="media-container">
                <h2 class="account-header" style="font-family:'Germania One', cursive;">Name: {{user.username}}</h2>
                <p class="text-info" style="font-family:'Germania One', cursive;">Email: {{user.email}}</p>
            </div>
            <p class="ml-3" style="font-family:'Germania One', cursive;">Bio: {{user.profile.bio}}</p>
            <a class="btn btn-info" href="{% url 'update' %}" style="font-family:'Germania One', cursive;">Update Profile</a>
        </div>
    </div>
</div>

{% endblock %}


